<div class="content">
  <h1>Decoin Wallet</h1>
  <div class="content">
    <a class="button is-link" (click)="onMineClick()">Mine</a>
  </div>
  <div class="box">
    <div class="media-content">
      <h2 class="sub-title">Your public address:</h2>

      <div>{{wallet.address}}</div>
    </div>
    <div class="media-content">
      <h2 class="sub-title">Your balance:</h2>
      <div>{{wallet.balance}} coins</div>
    </div>
  </div>
  <div class="content">
    <h2 class="title">Send coins</h2>
    <div class="box">
      <div class="media-content">
        <div class="columns">
          <div class="column is-three-quarters">
            <label class="label">To</label>
          </div>
          <div class="column is-one-quarter">
            <label class="label">Amount</label>
          </div>
        </div>
        <div class="columns">
          <div class="column is-three-quarters">
            <div class="control">
              <input class="input" type="text" placeholder="Receiver address" [(ngModel)]="receiver"/>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="control">
              <input class="input" type="text" placeholder="0" [(ngModel)]="amountToSend"/>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <a class="button is-link" (click)="onSendClick()">Send</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <transactions [walletAddress]="wallet.address"></transactions>
</div>
